<ion-content fullscreen>
<div class="main">

  <div class="topbar">
    <ion-menu-button></ion-menu-button>

    <div class="switch-container">
      <ion-icon class="switch-icon" name="sunny-outline"></ion-icon>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="isDark"
          (change)="themeService.toggleDark()">
        <span class="slider"></span>
      </label>
      <ion-icon class="switch-icon" name="moon-outline"></ion-icon>
    </div>
  </div>

  <div class="content">

    <div class="calendar-wrapper">

      <div class="date-filter">

        <p class="title">Analytics</p>

        <div class="date-display" (click)="toggleCalendar()">

          <ion-icon name="calendar-outline"></ion-icon>

          <span>{{ fechaTexto }}</span>

        </div>

        <div class="calendar-popup" *ngIf="showCalendar">
          <div #calendar></div>
        </div>

        <div class="presets">

          <button (click)="setHoy()">Hoy</button>

          <button (click)="setSemana()">Semana</button>

          <button (click)="setMes()">Mes</button>

        </div>

      </div>

    </div>

    <div class="cards">

      <div class="card">

        <h3>Ventas</h3>

        <p>${{ totalVentas | number }}</p>

        <span
          [class.up]="crecimientoVentas > 0"
          [class.down]="crecimientoVentas < 0">

          {{ crecimientoVentas | number:'1.0-2' }}%

        </span>

      </div>

      <div class="card">

        <h3>Ganancia</h3>

        <p>${{ totalGanancia | number }}</p>

      </div>

      <div class="card">

        <h3>Transacciones</h3>

        <p>{{ ventas.length }}</p>

      </div>

      <div class="card">

        <h3>Promedio venta</h3>

        <p>
          {{ ventas.length ? (totalVentas / ventas.length) : 0 | number }}
        </p>

      </div>

      <div class="card">

        <h3>Distribución</h3>

        <canvas #donutChart></canvas>

      </div>

      <div class="card">

        <h3>Top productos vendidos</h3>

        <table>

          <thead>

            <tr>

              <th>PRODUCTO</th>

              <th>CANTIDAD</th>

              <th>%</th>

            </tr>

          </thead>

          <tbody>

            <tr *ngFor="let p of topProductos">

              <td>{{ p.nombre | uppercase }}</td>

              <td>{{ p.cantidad }}</td>

              <td>{{ p.porcentaje | number:'1.0-0' }}%</td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

    <div class="charts">

      <div class="chart">

        <h3>Ventas mensuales</h3>

        <canvas #ventasChart></canvas>

      </div>

      <div class="chart">

        <h3>Ganancia neta</h3>

        <canvas #gananciaChart></canvas>

      </div>

    </div>

  </div>

</div>
</ion-content>